
body {
    background-color: #0080ff;
}

.vertical-menu {
   /* width:200px;
	height:200px;
	position:absolute;
	top:20%;
	left:30%; 
	margin:-100px 0 0 -100px; */
	width: 350px;
    position: absolute;
    top: 10%;
    left: 0;
	text-align: center;
}

.central{
	/* width:200px;
	height:200px;
	position:absolute;
	top:20%;
	left:50%; 
	margin:-100px 0 0 -100px; */
	width: 350px;
    position: absolute;
    top: 10%;
    left: 5;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #00ffff;
}

h1{
	text-align: center;
}
